html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

section {
  scroll-margin-top: 5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #1b1a55;
  color: white;
}

#projects {
  background-color: #1b1a55;
  color: white;
}

#projects img {
  height: 414px;
}

.logo img {
  width: 24px;
  height: 24px;
}
